
<div class="w-75 ms-auto me-auto mt-2 border-top border-bottom rounded pt-3 shadow p-3 mb-5 bg-body-tertiary rounded">
  <div class="w-75 d-flex gap-3 align-items-center  ms-auto me-auto">
    <mat-icon>search</mat-icon>
    <label for="searchtodo" class="h-25"></label>
    <input type="text" name="searchtodo" id="searchtodo"
           placeholder="Search todos by title, description, email or password..."
           class=" border fs-6 p-3 w-100 rounded text-body-tertiary"
           (input)="onSearch(searchvalue)"
           [(ngModel)]="searchvalue"/>
  </div>
</div>

