<div class="w-75 ms-auto me-auto mt-5 border-top border-bottom rounded pt-3 shadow p-3 mb-5 bg-body-tertiary rounded position-relative custom-backdrop">
  <!-- Total tasks -->
  <div class="d-flex justify-content-evenly align-items-center border-bottom">
    <div class="d-flex flex-column align-items-center">
      <p class="text-danger-emphasis fs-5 fw-semibold">{{gettotaltasks()}}</p>
      <p class="text-secondary">Total tasks</p>
    </div>

    <div class="d-flex flex-column align-items-center">
      <p class="text-primary fs-5 fw-semibold">{{getActivetasks()}}</p>
      <p class="text-secondary">Active</p>
    </div>

    <div class="d-flex flex-column align-items-center">
      <p class="text-success fs-5 fw-semibold">{{getCompletedtasks()}}</p>
      <p class="text-secondary">Completed</p>
    </div>
  </div>

  <!-- Add tasks-->
  <div class="d-flex justify-content-between align-items-center ps-3 pe-3 align-items-center mt-2 mb-2 border-bottom">
    <div class="d-flex gap-2 justify-content-center align-items-center fw-normal">
      <button class="text-black pt-2 pb-2 ps-3 pe-3 rounded border-0"
              [class.all-tab]="selectval === 'All'"  (click)="selecttab('All')">All</button>
      <button class="text-black pt-2 pb-2 ps-3 pe-3 rounded border-0"
              [class.Active-tab]="selectval === 'Active'" (click)="selecttab('Active')">Active</button>
      <button class="text-black pt-2 pb-2 ps-3 pe-3 rounded border-0"
              [class.Completed-tab]="selectval === 'Completed'" (click)="selecttab('Completed')">Completed</button>
    </div>
    <button class="d-flex gap-1 align-items-center bg-dark pt-1 pb-1 ps-3 pe-3 rounded text-white" (click)="showform(true)">
      <mat-icon class="text-white">add</mat-icon>
      Add task
    </button>
  </div>

    <app-addtasks (customevent)="showform($event)" *ngIf="openform.opentask" class="position-fixed top-50 start-50 translate-middle w-75 mx-5 ps-5 pe-5 bg-white shadow p-3 mb-5 bg-body-tertiary rounded popup-form"></app-addtasks>
</div>
