<form #passform="ngForm" (ngSubmit)="checkpassword(password)">
  <div class="d-flex gap-1 flex-column">
    <label class="fw-semibold" for="password" [class.text-danger]="password.invalid && password.touched">Password</label>
    <div class="position-relative d-flex gap-3 flex-column justify-content-center">
      <mat-icon class="position-absolute z-3 text-secondary " [class.text-danger]="password.invalid && password.touched">lock</mat-icon>
      <input type="password"
             class="pt-2 pb-2 ps-4 pe-2 border rounded"
             placeholder="Enter password" name="password" id="password"
             [class.border-danger]="password.invalid && password.touched"
             [class.border-success]="password.valid"
             required
             [(ngModel)]="password"
             #password="ngModel" />
    </div>

    <span *ngIf="password.invalid && password.touched" class="text-danger">Password is required</span>
  </div>
</form>
