<form #passform="ngForm" (ngSubmit)="checkpassword(Password)"
      class="d-flex flex-column gap-3 border rounded shadow p-3 mb-5 bg-body-tertiary rounded">

  <!-- Cross Icon -->
  <div class="d-flex justify-content-end">
    <mat-icon class=" rounded bg-danger text-white" (click)="raiseevent()">close</mat-icon>
  </div>

  <!-- Password -->
  <div class="d-flex gap-1 flex-column">
    <label class="fw-semibold" for="password" [class.text-danger]="password.invalid && password.touched">Enter the password for this task to delete it.</label>
    <div class="position-relative d-flex gap-3 flex-column justify-content-center">
      <mat-icon class="position-absolute z-3 text-secondary "
                [class.text-danger]="password.invalid && password.touched">lock</mat-icon>
      <input type="password"
             class="pt-2 pb-2 ps-4 pe-2 border rounded"
             placeholder="Enter password" name="password" id="password"
             [class.border-danger]="password.invalid && password.touched"
             [class.border-success]="password.valid"
             required
             [(ngModel)]="Password"
             #password="ngModel" />
    </div>

    <span *ngIf="password.invalid && password.touched" class="text-danger">Password is required</span>
  </div>

  <!-- Submit -->
  <div class="d-flex gap-3 justify-content-end">
    <button type="reset" class="pt-2 pb-2 ps-2 pe-2 border rounded text-black"
            [disabled]="passform.invalid">
      Cancel
    </button>
    <button type="submit" class="pt-2 pb-2 ps-2 pe-2 border rounded text-white bg-success"
            [disabled]="passform.invalid">
      Confirm
    </button>
  </div>

</form>
